html{
  background-color: #353b48;
}
body {
  margin: 0;
  align-content: center;
  margin:0px;
  padding:0px;
}
.page {
  float: left;
  width: 100%;
}
.logo {
  float: left;
  margin: 50px;
  max-height: 50px;
}
.play {
  margin: 50px;
  float: right;
  padding: 15px;
  border-radius: 50px;
  border: 0px;
}
.play:hover {
  background-color: #ffeaa7;
  cursor: pointer;
}
.header {
  float: left;
  background-color: #fdcb6e;
  min-height: 150px;
  width: 100%;
}
.footer {
  float: left;
  margin-top: 10px;
  background-color: #fdcb6e;
  min-height: 50px;
  line-height: 50px;
  width: 100%;
}
.navigation {
  float: left;
  background-color: #555;
  width: 100%;
  margin-top: 10px;
  min-height: 50px;
}
.search {
  float: right;
  width: 24%;
  margin-left: 1%;
}
.search > .button {
  width: 25%;
}
.search > .textarea {
  width: 70%;
}
.search input {
  border-radius: 50px;
  height: 40px;
  margin-top: 5px;
  border: 0;
}

#Donate button {
    height: 50px;
    border-radius: 50px;
    border: 1px solid gray;
}

input {
  height: 50px;
  width: 40%;
  border-radius: 50px;
  border: 1px solid gray;
}
select {
  height: 50px;
  width: 40%;
  border-radius: 50px;
  border: 1px solid gray;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 15px;
  width: 25%;
  display: inline-grid;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  display: none;
  padding: 50px;
  text-align: center;
  float: left;
  background-color: #ffffff;
  width: 100%;
  min-height: 690px;
  margin-top: 10px;
}
