html{
  background-color: #222;
}
body {
  margin: 0;
  align-content: center;
  margin:0px;
  padding:0px;
}
.page {
  float: left;
  width: 100%;
}
.header {
  float: left;
  height: 150px;
  width: 100%;
  color: #fff;
  user-select: none;
}
.footer {
  color: #fff;
  float: left;
  height: 50px;
  line-height: 50px;
  width: 100%;
  user-select: none;
}
.navigation {
  float: left;
  background-color: #555;
  width: 100%;
  min-height: 50px;
  user-select: none;
}
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 15px;
  width: 150px;
  max-width: 25%;
  display: inline-grid;
}
.tablink:hover {
  background-color: #777;
}
.tabcontent {
  display: none;
  padding: 50px;
  min-height: 500px;
  text-align: center;
  float: left;
  background-color: #ffffff;
  width: 100%;
}
.widget {
  width: 500px;
  display: inline-block;
  text-align: center;
}
.box {
  display: inline-block;
  text-align: center;
  margin: 20px;
  width: 400px;
  height: 600px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}
button {
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  color: #555;
  border: 1px solid gray;
}
button:hover {
  background-color: #ffeaa7;
  cursor: pointer;
}
input {
  padding: 10px;
  width: 100%;
  border: 1px solid gray;
}
select {
  padding: 10px;
  min-width: 100%;
  border: 1px solid gray;
}
